1* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
@font-face {
    font-family: Revalia-Regular;
    src: local(Revalia-Regular), url(fonts/Revalia-Regular.eot);
    src: url("fonts/Revalia-Regular.ttf")
}
@font-face {
    font-family: Roboto;
    src: local(Roboto), url(fonts/Roboto.eot);
    src: url("fonts/Roboto.ttf")
}
.container {
    margin: 0 auto;
    width: 60%;
}
.menu {
    position: fixed;
    background-color: #EEEFF1;
    width: 100%;
    padding: 25px;
}
.menuLogo {
    float: left;
    width: 30%;
    font-family: Revalia-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #34547A; 
}
.menuContent {
    position: absolute;
    left: 50%;
    width: 70%;
    float: left;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;

}
.menuContent_conteiner {
    padding-right: 40px;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
}
.first-screen {
    position: absolute;
    width: 100%;
    margin-top: 110px;
    background-color: #EEEFF1;
    padding-top: 150px;
    padding-bottom: 150px;
}
.first-screen_img {
    float: left;
    width: 50%;
    padding-right: 0px;

}
.first-img {
    position: relative;
    left: 30%;
}
.first-screen_content {
    float: left;
    width: 50%;
}
.first-screen_content_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    padding-bottom: 30px;
}
.first-screen_content_description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-bottom: 30px;
}
.first-screen_content_bottom {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

