* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
.content {
    margin: 0 auto;
    width: 80%;
}
.menu {
    position: fixed;
    background-color: #EEEFF1;
    padding: 20px auto;
    float: left;
    width: 100%;
}
.menuContent_conteiner {
    padding-right: 20px;
    float: left;

}


